<div fxLayout="column">
    <mat-tab-group>
        <mat-tab label="Items">
            <form [formGroup]="itemsForm" fxLayout="column" fxLayoutGap="1em" class="stdMarginTop" class="stdPadding">
                <div formArrayName="items" *ngFor="let item of itemsForm.get('items')['controls']; let i = index;">
                    <div [formGroupName]="i">
                        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em">
                            <div fxLayout="row" fxLayoutGap="1em">
                                <mat-form-field fxFlex="100%">
                                    <input matInput formControlName="item" placeholder="Item" type="text" required>
                                </mat-form-field>
                                <mat-form-field fxFlex="30%">
                                    <input matInput formControlName="cost" placeholder="Cost" type="number" min="0"
                                        [step]="numberOfDecimalPlacesToHTMLStepValue(this.settingsForm.controls['currencyDP'].value)"
                                        oninput="validity.valid||(value='');" required>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1em" fxFlex="100%">
                                <div fxLayout="row" fxLayoutGap="1em">
                                    <mat-form-field>
                                        <input matInput formControlName="quantity" placeholder="Quantity" type="number"
                                            min="1" step="1" oninput="validity.valid||(value='');" required>
                                    </mat-form-field>
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                        <mat-checkbox matInput formControlName="taxed">Taxed</mat-checkbox>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100%">
                                    <div></div>
                                    <button mat-icon-button color="warn" aria-label="delete" [disabled]="i == 0"
                                        (click)="removeItem(i)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div></div>
                    <button mat-button color="primary" (click)="addItem()"
                        [disabled]="!itemsForm.valid || ifDuplicateItems()">
                        + Add Item
                    </button>
                </div>
            </form>
        </mat-tab>

        <mat-tab label="People">
            <form [formGroup]="peopleForm" fxLayout="column" fxLayoutGap="1em" class="stdMarginTop" class="stdPadding">
                <div formArrayName="people" *ngFor="let person of peopleForm.get('people')['controls']; let i = index;">
                    <div [formGroupName]="i" fxLayout="column" fxLayoutGap="1em">
                        <div fxLayout="column">
                            <div fxLayout="row">
                                <mat-form-field>
                                    <input matInput formControlName="name" placeholder="Name" type="text" required>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row wrap" fxLayoutGap="1em">
                                <div formArrayName="items"
                                    *ngFor="let personItem of person.get('items')['controls']; let i = index;">
                                    <div [formGroupName]="i">
                                        <mat-checkbox matInput formControlName="chippingIn">
                                            {{personItem.get('item').value}}
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div></div>
                    <button mat-button color="primary" (click)="addPerson()"
                        [disabled]="!peopleForm.valid || ifDuplicatePeople()">
                        + Add Person
                    </button>
                </div>
            </form>
        </mat-tab>
    </mat-tab-group>

    <div class="stdMarginLeft stdMarginRight">
        <mat-divider></mat-divider>
    </div>

    <form [formGroup]="settingsForm" fxLayout="row" fxLayoutGap="1em" class="stdPadding">
        <mat-form-field fxFlex="30%">
            <input matInput formControlName="taxPercentage" placeholder="Tax %" type="number" min="0" step="1" max="100"
                oninput="validity.valid||(value='');">
        </mat-form-field>
        <mat-form-field fxFlex="30%">
            <input matInput formControlName="currencyDP" placeholder="Currency Decimal Places" type="number" min="0"
                step="1" max="5" oninput="validity.valid||(value='');">
        </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary"
            [disabled]="!itemsForm.valid || ifDuplicateItems() || !peopleForm.valid || ifDuplicatePeople() || !settingsForm.valid">
            Calculate
        </button>
    </div>
</div>